<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Guest Star</title>
</head>
<body>
    <form action="/home/guest-star/add" method="post">
        <label for="CategoryId">Category</label> <br>
        <select name="CategoryId"> <br>
            <% category.forEach(el => { %>
                <option value="<%= el.id %>"><%= el.name %></option>
            <% }) %> 
        </select> <br>
        <label for="name">Name</label> <br>
        <input type="text" name="name" id="name"> <br>
        <label for="debutYear">Debut Year</label> <br>
        <input type="date" name="debutYear" id="debutYear"> <br>
        <label for="">Concert at:</label> <br>
        <select name="ConcertId">
            <% concert.forEach(el => { %>
                <option value="<%= el.id %>"><%= el.name %> -- <%= el.location %></option>
            <% }) %> 
        </select> <br>
        <label for="imageURL">Image URL Artist</label> <br>
        <input type="text" name="imageURL"> <br>
        <button>Add Guest Star</button>
    </form>
</body>
</html>