<%- include('./partials/header') %>
 <% if(role) { %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">
        <img src="https://img.icons8.com/plasticine/100/000000/g.png" alt="" width="30" height="24"
          class="d-inline-block align-text-top">ig's
        <img src="https://img.icons8.com/plasticine/100/000000/e.png" alt="" width="30" height="24"
          class="d-inline-block align-text-top">vents
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home/category/add">Add Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home/guest-star/add">Add Guest Star</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home/concert/add">Add Concert</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home/list/concert">List Concert</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 <% } else { %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img src="https://img.icons8.com/plasticine/100/000000/g.png" alt="" width="30" height="24"
        class="d-inline-block align-text-top">ig's
      <img src="https://img.icons8.com/plasticine/100/000000/e.png" alt="" width="30" height="24"
        class="d-inline-block align-text-top">vents
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home/list/concert">List Concert</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 <% } %> 
    <div class="d-flex container-md mt-3 justify-content-center">
      <form class="d-flex" action="/home" method="get">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search"
          style="width: 500px;">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
    </div>
    <br>
    <div class="container-md">
      <div class="text-center mb-5">
        <h3><strong>Musical Arts</strong></h3>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card-deck">
            <div class="card-group">
              <% data.forEach(el=> { %>
                <div class="card-body">
                  <div class="card" style="width: 21rem;">
                    <img src="<%= el.photo %>" class="card-img-top" alt="<%=el.name%>" style="height: 15rem;">
                    <div class="card-body">
                      <h4 class="card-title">
                        <%=el.name%>
                      </h4>
                      <p class="fs-5">Here are some lists of the gueststars :</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <% if(el.GuestStars.length) {%>
                          <li class="list-group-item">
                            <%= el.GuestStars[0].name%>...
                          </li>
                          <% } %>
                    </ul>
                    <div class="card-body">
                      <a href="/home/category/<%= el.id %>" class="btn btn-dark">List Detail</a>
                    </div>
                  </div>
                </div>
                <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./partials/footer') %>