<%- include('./partials/header') %>
  <%- include('./partials/navbar') %>
    <br>
    <div class="container-md mt-3 justify-content-center">
      <div class="text-center mb-5">
        <h3><strong>List Guest Star</strong></h3>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card-deck">
            <div class="card-group">
              <% data.forEach(el=> { %>
                <div class="card-body">
                  <div class="card" style="width: 21rem;">
                    <img src="<%= el.imageURL %>" class="card-img-top" alt="<%= el.name %>" style="height: 15rem;">
                    <div class="card-body text-center">
                      <h4 class="card-title">
                        <%= el.name %>
                      </h4>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <p class="fs-5">
                            Debut Year : <%= el.debutYear %>
                          </p>
                          <p>Concert Location:</p>
                          <p><%= el.Concert.name %></p>
                          <p>Concert Date:</p>
                          <p><%= el.Concert.date %></p>
                          <p>Price : <%= el.Concert.price %> </p>
                        </li>
                        <div class="container text-center">
                          <p class="fs-5">
                            Song Title  --  Genre 
                          </p>
                        </div>
                        <% el.Songs.forEach(el => { %>
                          <div class="container text-center">
                            <li class="list-group-item">
                              <p class="fs-5">
                                <%= el.name %> -- <%= el.genre %> 
                              </p>
                            </li>
                          </div>
                          <% }) %> 
                      </ul>
                    </div>
                  </div>
                </div>
                <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partials/header') %>