<%- include('./partials/header') %>
  <%- include('./partials/navbar') %>
    <br>
    <div class="container-md mt-3 justify-content-center">
      <div class="text-center mb-5">
        <h3><strong>Lists Concert</strong></h3>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card-deck">
            <div class="card-group">
              <% data.forEach(el=> { %>
                <div class="card-body">
                  <div class="card" style="width: 21rem;">
                    <img src="<%= el.imageURL %>" class="card-img-top" alt="<%= el.name %>" style="height: 15rem;">
                    <div class="card-body">
                      <h4 class="card-title">
                        <%= el.name %>
                      </h4>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <p class="fs-5">
                            Location : <%= el.location %>
                          </p>
                          <p class="fs-5">
                            Date : <%= el.dateFormat %>
                          </p>
                          <p class="fs-5">
                            Price : <%= el.priceToRupiah %>
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partials/footer') %>