<%- include('./partials/header') %>
  <%- include('./partials/navbar') %>

    <div class="container-md mt-3">
      <h1 class="text-center">Edit Profile</h1>
      <br>
      <form action="/customer/<%=data.id%>/profile/edit" method="post">
        <div class="row">
          <div class="col">
            <label class="form-label">First Name</label>
            <input class="form-control" type="text" name="firstName" value="<%=data.firstName%>">
            <br>
            <label class="form-label">Last Name</label>
            <input class="form-control" type="text" name="lastName" value="<%=data.lastName%>">
            <br>
            <label class="form-label">Date of Birth</label>
            <input class="form-control" type="text" name="dateOfBirth" value="<%=data.formatDate%>">
            <br>
            <label class="form-label">Favourite Genre</label>
            <input class="form-control" type="text" name="favoriteGenre" value="<%=data.favoriteGenre%>">
          </div>
          <br>
          <div>
            <button type="submit" class="btn btn-dark mt-5 mb-5">Edit</button>
          </div>
          <% if(error) { %>
            <% error.forEach(el=> { %>
              <p style="color: red;">
                <%= el %>
              </p>
              <% }) %>
                <% } %>
      </form>
    </div>

    <%- include('./partials/footer') %>